<h1>Registrar Hospital</h1>
<form [formGroup]="hospitalForm" (ngSubmit)="grabar()">
  <div class="form-group">
    <label for="idDistrito">idDistrito:</label>
    <input type="number" id="idDistrito" formControlName="idDistrito" class="form-control" />
    <div *ngIf="hospitalForm.get('idDistrito')?.invalid && (hospitalForm.get('idDistrito')?.dirty || hospitalForm.get('idDistrito')?.touched)
        " class="error-messages">
      <div *ngIf="hospitalForm.get('idDistrito')?.errors?.['required']
          " class="error-messages">El idDistrito es requerido.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" class="form-control" />
    <div
      *ngIf="hospitalForm.get('nombre')?.invalid && (hospitalForm.get('nombre')?.dirty || hospitalForm.get('nombre')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('nombre')?.errors?.['required']" class="error-messages">El nombre es requerido.</div>
    </div>
  </div>
  <div class="form-group" >
    <label for="Antiguedad">Antiguedad:</label>
    <input type="number" id="Antiguedad" formControlName="antiguedad" class="form-control" />
    <div
      *ngIf="hospitalForm.get('antiguedad')?.invalid && (hospitalForm.get('antiguedad')?.dirty || hospitalForm.get('antiguedad')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('antiguedad')?.errors?.['required']" class="error-text">La Antiguedad es requerida.
      </div>

    </div>
  </div>
  <div class="form-group" >
    <label for="Area">Area:</label>
    <input type="number" id="Area" formControlName="area" class="form-control" />
    <div
      *ngIf="hospitalForm.get('area')?.invalid && (hospitalForm.get('area')?.dirty || hospitalForm.get('area')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('area')?.errors?.['required']" class="error-text">El Area es requerida.</div>

    </div>
  </div>

  <div class="form-group">
    <label for="IdSede">IdSede:</label>
    <input type="number" id="IdSede" formControlName="idSede" class="form-control" />
    <div
      *ngIf="hospitalForm.get('idSede')?.invalid && (hospitalForm.get('idSede')?.dirty || hospitalForm.get('idSede')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('idSede')?.errors?.['required']" class="error-text">El IdSede es requerido.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="IdGerente">IdGerente:</label>
    <input type="number" id="IdGerente" formControlName="idGerente" class="form-control" />
    <div
      *ngIf="hospitalForm.get('idGerente')?.invalid && (hospitalForm.get('idGerente')?.dirty || hospitalForm.get('idGerente')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('idGerente')?.errors?.['required']" class="error-text">El IdGerente es requerido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="idCondicion">idCondicion:</label>
    <input type="number" id="idCondicion" formControlName="idCondicion" class="form-control" />
    <div
      *ngIf="hospitalForm.get('idCondicion')?.invalid && (hospitalForm.get('idCondicion')?.dirty || hospitalForm.get('idCondicion')?.touched)"
      class="error-messages">
      <div *ngIf="hospitalForm.get('idCondicion')?.errors?.['required']" class="error-messages">El idCondicion es
        requerido.</div>

    </div>
  </div>

  <!-- Botones -->
  <button type="submit" class="btn btn-primary" [disabled]="hospitalForm.invalid">
    Grabar
  </button>
  <button type="button" (click)="limpiar()" class="btn btn-secondary">Limpiar</button>
</form>