<h1 class="heading">Listado de Hospitales</h1>
<table class="hospital-table">
  <thead>
    <tr>
      <th>ID Distrito</th>
      <th>Nombre</th>
      <th>Antigüedad</th>
      <th>Área</th>
      <th>ID Sede</th>
      <th>ID Gerente</th>
      <th>ID Condición</th>
      <th>Fecha Registro</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hospital of hospitales">
      <td>{{ hospital.idDistrito }}</td>
      <td>{{ hospital.nombre }}</td>
      <td>{{ hospital.antiguedad }}</td>
      <td>{{ hospital.area }}</td>
      <td>{{ hospital.idSede }}</td>
      <td>{{ hospital.idGerente }}</td>
      <td>{{ hospital.idCondicion }}</td>
      <td>{{ hospital.fechaRegistro }}</td>
      <td>
        <button (click)="eliminarHospital(hospital.idHospital)" class="delete-button">Eliminar</button> 
      </td>
    </tr>
  </tbody>
</table>