<div class="container">
  <h1>Menu Principal - Hospital</h1>
  <div class="content">
    <div class="column">
      <div class="row">
        <button routerLink="ingresar">Ingresar</button>
      </div>
      <!-- <div class="row">
        <button routerLink="modificar" >Modificar</button>
      </div> -->
      <div class="row">
        <button routerLink="eliminar">Eliminar</button>
      </div>
      <div class="row">
        <button routerLink="buscar" >Buscar</button>
      </div>
    </div> 
    <div class="column">
      <img src="../assets/img/images.png" alt="Imagen del hospital">
    </div>
  </div>
  <router-outlet></router-outlet>
</div>